// Fading animation
@mixin fade(
  $start-val: 0,
  $end-val: 1,
) {
  // Example of use
  // @include animation(fade 1.5s ease-in-out);

  @-moz-keyframes fade {
    0% {
      opacity: $start-val;
    }

    100% {
      opacity: $end-val;
    }
  }

  @-webkit-keyframes fade {
    0% {
      opacity: $start-val;
    }

    100% {
      opacity: $end-val;
    }
  }

  @keyframes fade {
    0% {
      opacity: $start-val;
    }

    100% {
      opacity: $end-val;
    }
  }
}
// Glare

@mixin animation-glare-ready (
  $gradient:linear-gradient(60deg,rgba(255, 255, 255, .25),
  #7bb0aa, #fff), $transform:skewX(30deg)){

  background: $gradient;
  @include transform($transform);
}

@-webkit-keyframes glare {
  0% {
    left: 150%;
  }

  0% {
    left: 150%;
  }
}
@keyframes glare {
  100% {
    left: 150%;
  }
}

// Scale Elements
@mixin scale-element(
  $pseudo: before,    // The pseudo element to select
  $pos: absolute,     // Set element postion
  $x_pos:left,        // X position to scale from
  $x_val: 0,          // Starting point of X scale
  $y_pos:bottom,      // Y position to scale from
  $y_val: 0,          // Starting point of Y scale
  $scale:X,           // The X or Y line to scale
  $scale_val: 0,      // Starting size before animation
  $scale_hov_val: 1,  // End size after animation
  $width:100%,        // Set width value
  $height: 2px,       // Set height value
  $background: #333,  // Set background
  $transition: transform 0.5s ease, // Transition effect
  ){
  &:$pseudo {
  content: '';
  position: $pos;
  left: $x_val;
  bottom: $y_val;
  width: $width;
  height: $height;
  background: $color__link;
  transform: scale#{$scale}($scale_val);
  transition: $scale_val;
  }

  &:hover:$pseudo {
    transform: scale$scale(1);
  }
}
// Gradient animation

  @-webkit-keyframes gradient {
    0% {
      background-position: 0% 48%;
    }
    50% {
      background-position: 100% 53%;
    }
    100% {
      background-position: 0% 48%;
    }
  }
  @-moz-keyframes gradient {
    0% {
      background-position: 0% 48%;
    }
    50% {
      background-position: 100% 53%;
    }
    100% {
      background-position: 0% 48%;
    }
  }
  @-o-keyframes gradient {
    0% {
      background-position: 0% 48%;
    }
    50% {
      background-position: 100% 53%;
    }
    100% {
      background-position: 0% 48%;
    }
  }
  @keyframes gradient {
    0% {
      background-position: 0% 48%;
    }
    50% {
      background-position: 100% 53%;
    }
    100% {
      background-position: 0% 48%;
    }
  }
// Animation Types
@mixin transition($value) {
  -webkit-transition: $value;
  transition: $value;
}
@mixin transform($value) {
  -o-transform: $value;
  -ms-transform: $value;
  -webkit-transform: $value;
  transform: $value;
}
@mixin transform-origin($value) {
  -o-transform-origin: $value;
  -ms-transform-origin: $value;
  -webkit-transform-origin: $value;
  transform-origin: $value;
}
@mixin animation($value) {
  -o-animation: $value;
  -moz-animation: $value;
  -webkit-animation: $value;
  animation: $value;
}

@mixin fill($mode: forwards) {
  -moz-animation-fill-mode: $mode;
  -webkit-animation-fill-mode: $mode;
  -ms-animation-fill-mode: $mode;
  animation-fill-mode: $mode;
}
// Keyframes
@mixin keyframes($value) {
  @-webkit-keyframes #{$value} {
    @content;
  }
  @-moz-keyframes #{$value} {
    @content;
  }
  @-o-keyframes #{$value} {
    @content;
  }
  @keyframes #{$value} {
    @content;
  }
}
