@mixin background-one($size: 25em) {
  background-size: $size, $size, auto, cover;
  background-attachment: scroll, scroll, scroll, fixed;
  background-repeat: no-repeat, no-repeat, repeat, no-repeat;
  background-position: top left, top right, top left, bottom center;
  background-image: url(../img/light-tl.svg), url(../img/light-tr.svg),
    url(../img/overlay.png), url(../img/banner.jpg);
}

@mixin background-two(
  $background-color: null,
  $img-url: url(../img/overlay.svg)
) {
  background-attachment: fixed !important;
  background-color: $background-color;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-image: $img-url;
}

@mixin background-three($color: $color__accent-two, $size: 25em) {
  background-color: $color;
  background-image: url(../img/light-bl.svg), url(../img/light-br.svg);
  background-position: bottom left, bottom right;
  background-repeat: no-repeat, no-repeat;
  background-size: $size, 25em;
}

@mixin background-size($value) {
  -o-background-size: $value;
  -webkit-background-size: $value;
  -moz-background-size: $value;
  background-size: $value;
}

@mixin background-cover($position: null, $attchment: fixed) {
  position: $position;
  background-attachment: fixed !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

@mixin linear-gradient($angle, $gradient1, $gradient2) {
  background-color: $gradient2; /* Fallback Color */
  background-image: -webkit-gradient(
    linear,
    $angle,
    from($gradient1),
    to($gradient2)
  ); /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(
    $angle,
    $gradient1,
    $gradient2
  ); /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(
    $angle,
    $gradient1,
    $gradient2
  ); /* FF3.6 */
  background-image: -ms-linear-gradient(
    $angle,
    $gradient1,
    $gradient2
  ); /* IE10 */
  background-image: -o-linear-gradient(
    $angle,
    $gradient1,
    $gradient2
  ); /* Opera 11.10+ */

  background-image: linear-gradient($angle, $gradient1, $gradient2);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=$angle,StartColorStr='#{$gradient1}', EndColorStr='#{$gradient2}');
}
