@mixin background(
  $img-url: url(../img/banner4.jpg),
  $size: cover,
  $repeat: repeat,
  $position: center,
  $attachment: fixed
) {
  background-attachment: $attachment !important;
  background-position: center !important;
  background-repeat: $repeat !important;
  background-size: $size !important;
  background-image: $img-url !important;
}

@mixin background-size($value) {
  -o-background-size: $value;
  -webkit-background-size: $value;
  -moz-background-size: $value;
  background-size: $value;
}

@mixin background-cover($position: null, $attchment: fixed) {
  position: $position;
  background-attachment: $attchment !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

@mixin linear-gradient($angle, $gradient1, $gradient2) {
  background-color: $gradient2; /* Fallback Color */
  background-image: -webkit-gradient(
    linear,
    $angle,
    from($gradient1),
    to($gradient2)
  ); /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(
    $angle,
    $gradient1,
    $gradient2
  ); /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(
    $angle,
    $gradient1,
    $gradient2
  ); /* FF3.6 */
  background-image: -ms-linear-gradient(
    $angle,
    $gradient1,
    $gradient2
  ); /* IE10 */
  background-image: -o-linear-gradient(
    $angle,
    $gradient1,
    $gradient2
  ); /* Opera 11.10+ */

  background-image: linear-gradient($angle, $gradient1, $gradient2);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=$angle,StartColorStr='#{$gradient1}', EndColorStr='#{$gradient2}');
}
