.sticky {
  display: block;
}

.site-content {
  @extend %row;
  padding: 0;
  position: relative;
}

.page,
.post {
  margin: 0;
}

.updated:not(.published) {
  display: none;
}

.error404 .page-content {
  margin: 5em auto;
  @extend %col-9;
}

.entry-content,
.entry-summary,
.page-content {
  margin: 1.5em 0 0;
}

.page-links {
  clear: both;
  margin: 0 0 1.5em;
}

.site-main > article.page,
.site-main > article.type-attachment,
.site-main > article.type-post {
  @extend %col-9;
  padding: 5em 0;
  margin: 0 auto;

  & > header.entry-header {
    clear: both;
    width: 100%;
    margin: 0 auto 7em;
    border-bottom: 1px dashed;
    padding: 2em 0;
    position: relative;
  }
}

article.post {
  footer.entry-footer {
    line-height: 2;
    background-color: $color__accent-three;
    margin: 2em 0;
  }
}
