.sticky {
  display: block;
}
.site-content {
  @extend %row;
  padding: 0;
  position: relative;
}
.post,
.page {
  margin: 0;
}

.updated:not(.published) {
  display: none;
}

.page-content,
.entry-content,
.entry-summary {
  margin: 1.5em 0 0;
}

.page-links {
  clear: both;
  margin: 0 0 1.5em;
}

.site-main > article.page,
.site-main > article.type-post {
  @extend %col-9;
  padding: 10em 0 5em;
  margin: 0 auto;
  & > header.entry-header {
    margin: 2em 0;
  }
}
footer.entry-footer {
  display: inline-block;
  padding: 1em;
  line-height: 2;
}
.comments-area {
  @extend %col-9;
  padding-bottom: 15em;
  margin: 0 auto;
}
