.sticky {
  display: block;
}

.site-content {
  @extend %row;
  padding: 0;
  position: relative;
}

.page,
.post {
  margin: 0;
}

.updated:not(.published) {
  display: none;
}

.error404 .page-content {
  margin: 5em auto;
  @extend %col-9;
}

.entry-content,
.entry-summary,
.page-content {
  margin: 1.5em 0 0;
}

.page-links {
  clear: both;
  margin: 0 0 1.5em;
}

.site-main > article.page,
.site-main > article.type-post,
.site-main > article.type-attachment {
  @extend %col-9;
  padding: 10em 0 5em;
  margin: 0 auto;

  & > header.entry-header {
    margin: 2em 0;
  }
}

footer.entry-footer {
  line-height: 2;
}
