.archive main {
  .page-header {
    max-width: 60%;
  }

  .category-container {
    background: none;
    border: none;
    padding: 0;
    margin: auto auto 0;
    padding: 6em 0 5em;
    position: relative;
    @extend %col-9;

    &:before {
      box-sizing: inherit;
      background: none;
      content: "";
      border-right: 1px solid;
      height: 100%;
      width: 50%;
      left: 0;
      top: 0;
      z-index: 0;
      position: absolute;
    }

    .archive-post-container {
      position: relative;
      height: 440px;
      overflow: hidden;
      border: solid 1px;
      margin-bottom: 6em;
      padding: 1em;
      background-color: $color__background-archive-posts;

      &:last-child {
        margin: 0 !important;
      }

      &::after {
        content: "";
        top: 0.5em;
        left: 0.5em;
        right: 0.5em;
        bottom: 0.5em;
        border: 1px dashed;
        background: none;
        position: absolute;
        z-index: 1;
      }

      &:nth-child(odd) {
        text-align: left;

        article.type-post {
          padding-right: 0;
        }

        .archive-figure {
          float: left;

          img {
            right: 0;
            top: 0;
          }
        }
      }
      // Odd

      &:nth-child(even) {
        text-align: right;

        article.type-post {
          padding-left: 0;
        }

        .archive-figure {
          float: right;

          img {
            left: 0;
            top: 0;
          }
        }
      }
      // Even

      .archive-figure {
        margin: 0;
        display: inline-block;
        height: 100%;
        overflow: hidden;
        position: relative;
        width: 50%;

        img {
          display: block;
          min-height: 100%;
          min-width: 100%;
          position: absolute;
        }

        &:after {
          -moz-transition: opacity 0.25s ease-in-out;
          -webkit-transition: opacity 0.25s ease-in-out;
          -ms-transition: opacity 0.25s ease-in-out;
          transition: opacity 0.25s ease-in-out;
          background-image: url("../img/overlay.png");
          content: "";
          display: block;
          height: 100%;
          left: 0;
          opacity: 0.2;
          position: absolute;
          top: 0;
          width: 100%;
        }

        footer.entry-footer {
          background-color: rgba($color__accent-three, 0.9);
          position: absolute;
          bottom: 0;
          left: 0;

          span {
            float: left;
            margin-right: 1em;
          }

          .edit-link {
            float: right;
          }
        }
      }
      // End .archive-figure

      article.type-post {
        width: 48%;
        padding: 2em;
        display: inline-block;
        vertical-align: middle;

        h2 {
          font-weight: 600;
          letter-spacing: 0.05em;
          margin-bottom: 0.5em;
          font-size: 1.25em;
        }
      }
    }
  }

  nav.posts-navigation {
    display: table;
    clear: both;
    margin: 0 auto 10em;
    border-bottom: 1px solid;
    border-top: 1px solid;
    padding: 2em 1em;
    position: relative;
    max-width: fit-content;
    width: intrinsic;
    width: -moz-max-content;
    width: -webkit-max-content;

    &::before {
      content: "";
      top: 0.5em;
      left: 0.5em;
      right: 0.5em;
      bottom: 0.5em;
      border-bottom: 1px dashed;
      border-top: 1px dashed;
      background: none;
      position: absolute;
    }
  }

  span.end-archive {
    text-align: center;
    /* width: 100%; */
    display: block;
  }
}
