.archive main {
  .page-header {
    max-width: 60%;
  }

  .category-container {
    background: none;
    border: none;
    padding: 0;
    margin: auto auto 0;
    padding: 6em 0 5em;
    position: relative;
    @extend %col-9;

    &:before {
      box-sizing: inherit;
      background: none;
      content: "";
      border-right: 1px solid;
      height: 100%;
      width: 50%;
      left: 0;
      top: 0;
      z-index: 0;
      position: absolute;
    }

    .archive-post-container {
      position: relative;
      height: 440px;
      overflow: hidden;
      border: solid 1px;
      margin-bottom: 6em;
      padding: 1em;
      background-color: $color__background-archive-posts;

      span {
        &.byline,
        &.posted-on {
          font-size: 0.8em;
        }
      }

      &:last-child {
        margin: 0 !important;
      }

      &::after {
        content: "";
        top: 0.5em;
        left: 0.5em;
        right: 0.5em;
        bottom: 0.5em;
        border: 1px dashed;
        background: none;
        position: absolute;
        z-index: 1;
      }

      .archive-figure {
        .hue_img_wrapper {
          position: relative;
          width: 100%;
          height: 100%;

          a {
            display: block;
            position: relative;
            top: 0;
            width: 100%;
            height: 100%;
            opacity: 0.4;
            @include grayscale-glare();

            img {
              right: 0;
              min-height: 440px;
              min-width: 640px;
              width: auto;
              @include center-vertical;
            }
          }
        }
      }
      @media only screen and (max-width: $breakpoint-large) {
        height: auto;

        .archive-figure {
          margin: 0;
          height: auto;

          .hue_img_wrapper a img {
            position: relative;
            top: unset;
            left: unset;
            transform: unset;
          }
        }

        article.type-post {
          width: 98%;
        }
      }
      @media only screen and (min-width: $breakpoint-large) {
        .archive-post-container {
          position: relative;
          height: 440px;
        }
        // Odd
        &:nth-child(odd) {
          text-align: left;

          article.type-post {
            padding-right: 0;
          }

          .archive-figure {
            float: left;

            img {
              right: 0;
              top: 0;
            }
          }
        }
        // Even
        &:nth-child(even) {
          text-align: right;

          article.type-post {
            padding-left: 0;
            padding-top: 0;
          }

          .archive-figure {
            float: right;

            img {
              left: 0;
              top: 0;
            }

            footer.entry-footer {
              right: 0;

              span {
                float: right;

                &:last-child {
                  margin-right: 0;
                }
              }
            }
          }
        }
        // Even & All
        .archive-figure {
          margin: 0;
          display: inline-block;
          height: 100%;
          overflow: hidden;
          position: relative;
          width: 50%;
        }
        // .archive-figure
        footer.entry-footer {
          position: absolute;
          bottom: 0;
          left: 0;

          span {
            float: left;
            margin-right: 1em;
          }

          .edit-link {
            float: right;
          }
        }

        article.type-post {
          width: 48%;
        }
      }
      // End $breakpoint-large
      article.type-post {
        padding: 0 2em 2em;
        display: inline-block;
        vertical-align: middle;

        header {
          border-bottom: 1px dashed;

          h2 {
            font-weight: 600;
            letter-spacing: 0.05em;
            margin: 0.5em 0;
            font-size: 1.5em;
          }
        }
      }
    }
  }

  nav.posts-navigation {
    display: flex;
    margin: 0 auto 10em;
    background-color: unset;
    border-bottom: 1px solid;
    border-top: 1px solid;
    padding: 2em 1em;
    position: relative;
    width: 50%;
    @include box-sizing(border-box);

    &::before {
      content: "";
      top: 0.5em;
      left: 0.5em;
      right: 0.5em;
      bottom: 0.5em;
      border-bottom: 1px dashed;
      border-top: 1px dashed;
      background: none;
      position: absolute;
    }
  }

  span.end-archive {
    width: 100%;
    position: relative;
    text-align: center;
  }
}
