
/*-----------------*/
/*** Home Stying ***/
/*-----------------*/
.home-posts-wrapper {
  margin-top: -7em;
}
/*-----------------------*/
/*** None sticky posts ***/
/*-----------------------*/
.not-sticky {
  .fp-heading {
    //margin: 7em 0 5em;
    width: 100%;
    clear: both;
    h1 {
      font-size: 3em;
      letter-spacing: 0.15em;
      text-transform: uppercase;
      text-align: center;
      margin: 3em 0 1.5em;
    }
  }
  .article-container {
    display: grid;
    grid-gap: 1em; /* [1] Add some gap between rows and columns */
    grid-template-columns: repeat(
      auto-fill,
      minmax(360px, 1fr)
    ); /* [2] Make columns adjust according to the available viewport */
    grid-auto-rows: 620px; /* [3] Set the height for implicitly-created row track */
    @extend %col-9;
    margin: 0 auto;
    .posts-card {
      background-color: $color__accent-three;
      figure.post-figure {
        margin: 0;
        .hue_img_wrapper {
          img {
            width: 100%;
          }
        }
        figcaption {
          padding-left: 1.5em;
          h1 {
            padding-right: 1em;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
      }
      article.type-post {
        width: fit-content;
        padding: 0 2em 2em 2em;
        text-align: justify;
        line-height: 1.7;
      }
    }
  }
}

/*-----------------*/
/*** Sticky Post ***/
/*-----------------*/
.hue-sticky-row {
  position: relative;
  background-attachment: fixed !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

.hue-sticky-wrapper {
  display: flex;
  padding: 10em 0;
  @extend %col-9;
  margin: 0 auto;
  position: relative;

  .entry-header {
    margin-top: -20.69em;
    margin-left: 15.08em;
    position: absolute;
    h1 {
      color: $color__secondary;
      border-radius: 0 0 0 0.5em;
      background-color: $color__accent-three;
      margin-bottom: -5em;
      padding: 0.5em 1em;
      float: right;
      position: relative;
      z-index: 1;
    }
  }

  .wp-post-image {
    max-width: unset;
    width: 120%;
    border-radius: 0 0 0 20%;
  } // End .wp-post-image
} // End .hue-sticky-wrapper

.hue-sticky-row {
  &:before {
    content: "";
    background: $color__accent-three;
    opacity: 0.9 !important;
    top: 0 !important;
    left: 0 !important;
    bottom: 0 !important;
    right: 0 !important;
    box-sizing: inherit;
    width: 100% !important;
    height: 100% !important;
    position: absolute !important;
  }
}

.hue-sticky-image-wrapper {
  margin: 0;
  width: 50%;
  position: relative;
  .posts_image.featured_image a {
    display: flex;
  }
  a:before {
    content: "";
    border-radius: 0 0 0 20%;
    background: $color__accent-three;
    opacity: 0.5 !important;
    left: 0 !important;
    right: 0 !important;
    box-sizing: inherit;
    width: 100% !important;
    height: 100% !important;
    position: absolute !important;
    @include transition(opacity 250ms);
  }
  a:hover::before {
    content: "";
    opacity: 0.2 !important;
  }
}

.hue-sticky-article {
  margin-left: 0;
  border-radius: 0 2em 0 0;
  background: linear-gradient(
    to bottom,
    $color__accent-three,
    50%,
    rgba(38, 41, 46, 0.25)
  );
  display: unset;
  padding: 2em 1.5em 0.5em 0.5em;
  width: 50%;
  p {
    margin-left: 1em;
    text-align: justify;
    @include fluid-type(1, 1.3em);
  }
}
