.content-area {
	float: none;
	margin-left: auto;
	margin-right: auto;
}

.site-main {
}

/* ==================================================
   Footer
================================================== */

footer {
	position: relative;
	width: 100%;
	height: auto;
	text-align: center;
	z-index: 99;
}

.site-footer{
	background: darken( $color__accent-three, 5% );
	height: 3em;
	.site-info {
		color: $color__text-main;
		font-size: 13px;
		margin-top: 1.5em;
		text-transform: uppercase;

		a {
			color: $color__primary;
		}
	}
}