/*-----------------*/
/*** Widget Area ***/
/*-----------------*/

.widget-wrapper {
  padding: 5em 0;
  @extend %row;
  background-color: $color__background-widget;

  .widget-container {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    padding: 0 1em;
    position: relative;
    margin: auto;
    @extend %col-10;

    aside#secondary {
      position: relative;
      border-right: 1px dotted;

      &:last-child,
      &:nth-child(3) {
        border-right: none;
      }
    }

    .widget {
      width: 100%;
      display: inline-block;
      vertical-align: top;
      margin-bottom: 5em;
      // WP Calendar
      #wp-calendar caption {
        font-size: 1.5em;
        font-family: $font__secondary;
        text-align: left;
      }
    }
  }
  // End #secondary
}
// End .tagcloud
// End .widget-wrapper
