/*-----------------*/
/*** Widget Area ***/
/*-----------------*/

.widget-wrapper {
  padding: 5em 0;
  @extend %row;
  background-color: $color__background-widget;

  &:before {
    content: "";
    position: absolute;
    top: 0.5em;
    border-top: 1px solid;
    border-bottom: 1px dashed;
    margin: 0 1em;
    width: 98%;
    height: 0.5em;
  }
  // Widget grid
  .widget-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
    padding: 0 1em;
    position: relative;
    margin: auto;
    @extend %col-11;
    // End .widget

  }
}
// End .tagcloud
// End .widget-wrapper
