
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    border: solid $color__accent-two;
    border-width: 0 1px;
    border-radius: 0;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: $color__accent-three;
    border-radius: 0;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: $color__accent-two; 
    &:-webkit-scrollbar-track {
        background: $color__accent-three;

    }
  }