table {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 100%;
}
table thead tr {
	background-color: $color__accent-two;
	&:hover {
		background-color: $color__accent-two !important;
	}
}

table td,
table th {
	border: 1px solid;
	border-color: $color__base-secondary !important;
	padding: 8px;
}

table tr:nth-child(even) {
	background-color: $color__accent-three;
}

table tr:hover {
	color: $color__accent-three;
	background-color: $color__primary;
	border-color: $color__base-secondary !important;
	transition: ease-out 0.45s;

	a {
		color: $color__accent-one;
		font-weight: 800;
	}
}

table th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	border-color: $color__base-secondary;
	color: $color__accent-three;
}
