.hue-slider {
  height: 100%;
  overflow: hidden;
  position: relative;

  .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #26292e;
    opacity: 0.7;
    filter: alpha(opacity=70);
    z-index: 0;
  }
  /* Slideshow container */
  .slideshow-container {
    height: 100vh;
    position: relative;
    margin: auto;

    /* Images hidden by default */
    .mySlides {
      display: none;

      /* Images */
      img {
        width: 100%;
      }

      /* Caption text */
      .text {
        padding: 8px 12px;
        position: absolute;
        left: 50%;
        top: 50%;
        margin: -150px 0 0 -585px;
        width: 1170px;
        height: 250px;
        text-align: center;
        z-index: 2;
      }
    }
    .control {
      position: absolute;
      width: 100%;
      background: #2f3238;
      height: 50px;
      bottom: 0;
      z-index: 2;

      /* Next & previous buttons */
      .prev,
      .next,
      .hue-nextsection {
        cursor: pointer;
        transition: 0.6s ease;
        border-radius: 0;
        user-select: none;
        background-image: none;
        background-color: #26292e;
        display: inline-block;
        margin: 0;
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        width: 50px;
        height: 50px;
        opacity: 1;
        filter: alpha(opacity=100);
        -webkit-transition: background 0.1s linear 0s;
        -moz-transition: background 0.1s linear 0s;
        -o-transition: background 0.1s linear 0s;
        transition: background 0.1s linear 0s;

        i {
          font-size: 16px;
          color: $color__link-hover;
          position: absolute;
          left: 50%;
          top: 50%;
          margin-top: -7px;
          line-height: 1em;
          font-style: unset;
        }
      }

      /* Slide counter text (1/3 etc) */
      .hue-counter {
        cursor: text;
        width: 50px;
        height: 50px;
        margin: 0;
        margin-left: -3px;
        top: 0;
        left: 0;
        right: 0;
        position: relative;
        display: inline-block;
        background: $color__base-secondary;
        opacity: 0.4;
        i {
          margin-left: -8px;
          font-size: 0.9em;
          font-style: italic;
          color: #2f3238;
          position: absolute;
          left: 35%;
          top: 50%;
          margin-top: -7px;
          line-height: 1em;
          &::first-letter {
            font-size: 1.5em;
          }
        }
      }

      /* Position the "prev button" to the left */

      .prev {
        i {
          margin-left: -9px;
        }
      }

      /* Position the "next button" to the right */
      .next {
        margin-left: -3px;
        i {
          margin-left: -8px;
        }
      }

      /* On hover, add a black background color with a little bit see-through */
      .prev:hover,
      .next:hover {
        background-color: $color__background-button-hover;
        i {
          color: $color__text-button;
        }
      }

      /* Skip to content */
      .hue-nextsection {
        background-color: #26292e;
        margin: 0;
        position: relative;
        float: right;
        width: 50px;
        height: 50px;
        -webkit-transition: background 0.1s linear 0s;
        -moz-transition: background 0.1s linear 0s;
        -o-transition: background 0.1s linear 0s;
        transition: background 0.1s linear 0s;
      }
      /* The dots/bullets/indicators */

      .dots-wrapper {
        float: left;
        position: absolute;
        left: 50%;
        top: 50%;
        padding: 0;
        margin: -6px 0 0 -42px;
      }

      .dot {
        cursor: pointer;
        margin-right: 12px;
        display: inline-block;
        transition: color 0.6s ease;
        -webkit-transition: color 250ms linear 0s;
        -moz-transition: color 250ms linear 0s;
        -o-transition: color 250ms linear 0s;
        transition: color 250ms linear 0s;

        &.active,
        &:hover {
          color: $color__background-button-hover;
        }
        &:last-child {
          margin-right: 0;
        }
      }

      /* Skip to content link */
      .skip-link {
        background-color: #26292e;
        margin: 0;
        position: relative;
        float: right;
        width: 50px;
        height: 50px;
        z-index: 999;
        clip-path: unset;
        clip: unset;
        -webkit-transition: background 0.1s linear 0s;
        -moz-transition: background 0.1s linear 0s;
        -o-transition: background 0.1s linear 0s;
        transition: background 0.1s linear 0s;
        i {
          font-size: 16px;
          color: #ffffff;
          position: absolute;
          left: 50%;
          top: 50%;
          margin-top: -7px;
          line-height: 1em;
          margin-left: -7px;
        }

        &:hover {
          background-color: #de5e60;
        }
      }
    } //End .control
  }

  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }

  @-webkit-keyframes fade {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes fade {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  }
}
