// Show/hide slide style
.hue-show {
  display: block;
}

.hue-hide {
  display: none;
}

.hue-slider-container {
  overflow: hidden;
  max-height: 100vh;
}
.hue-slider {
  .hue-slide-item {
    height: 100vh;
    @include background-cover(relative);

    &:before {
      opacity: 0.9 !important;
      @include content-center;
      @include background-cover;
      @include background-two($color__accent-three);
    }

    .hue-slide {
      padding: 1em;
      margin: 0 auto;
      width: min-content;
      position: relative;
      border: solid 1px;
      border-color: rgba(123, 176, 170, 0.4);
      @extend %col-5;
      @include center-vertical;
      &::after {
        content: "";
        top: 0.5em;
        left: 0.5em;
        right: 0.5em;
        bottom: 0.5em;
        border: 1px dashed;
        background: none;
        position: absolute;
        z-index: 1;
      }

      .text {
        opacity: 0;
        padding: 1.5em;
        color: #fff;
        text-align: center;
        display: inline-block;
        background: linear-gradient(
          to bottom,
          rgba(52, 27, 43, 0.01),
          80%,
          rgba(123, 176, 170, 0.5)
        );
        @include fade;
        @include fill;
        .entry-header {
          //margin-top: -71.35%;
          display: inline-block;

          h1 {
            font-size: 2em;
            letter-spacing: 0.2em;
            margin: 0;
            position: relative;
            text-transform: uppercase;
            @include max-string-length(25ch);
          }
        }

        p {
          text-align: justify;
          font-size: 1em;
          letter-spacing: 0.1em;
        }

        .hue-sticky-btn {
          float: unset;
          padding: unset;
          margin-top: unset;
        }
      }
    }
  }

  /* Slide controls */
  .control {
    position: sticky;
    width: 100%;
    background: #2f3238;
    height: 50px;
    bottom: 0;
    z-index: 2;

    /* Next & previous buttons */
    .prev,
    .next,
    .hue-nextsection {
      cursor: pointer;
      transition: 0.6s ease;
      border-radius: 0;
      user-select: none;
      background-image: none;
      background-color: #26292e;
      display: inline-block;
      margin: 0;
      position: relative;
      top: 0;
      left: 0;
      right: 0;
      width: 50px;
      height: 50px;
      opacity: 1;
      filter: alpha(opacity=100);
      -webkit-transition: background 0.1s linear 0s;
      -moz-transition: background 0.1s linear 0s;
      -o-transition: background 0.1s linear 0s;
      transition: background 0.1s linear 0s;

      i {
        color: #b5fff7;
        position: absolute;
        left: 50%;
        top: 50%;
        margin-top: -7px;
        font-style: unset;
      }
    }

    /* Slide counter text (1/3 etc) */
    .hue-counter {
      cursor: text;
      width: 50px;
      height: 50px;
      margin: 0;
      margin-left: -3px;
      top: 0;
      left: 0;
      right: 0;
      position: relative;
      display: inline-block;
      background: $color__base-secondary;
      opacity: 0.4;

      i {
        margin-left: -8px;
        font-size: 0.9em;
        font-style: italic;
        color: #2f3238;
        position: absolute;
        left: 35%;
        top: 50%;
        margin-top: -7px;
        line-height: 1em;
        &::first-letter {
          font-size: 1.5em;
        }
      }
    }

    /* Position the "prev button" to the left */

    .prev {
      i {
        margin-left: -9px;
      }
    }

    /* Position the "next button" to the right */
    .next {
      margin-left: -3px;
      i {
        margin-left: -8px;
      }
    }

    /* On hover, add a black background color with a little bit see-through */
    .prev:hover,
    .next:hover {
      background-color: $color__background-button-hover;

      i {
        color: $color__text-button;
      }
    }

    /* Skip to content */
    .hue-nextsection {
      background-color: #26292e;
      margin: 0;
      position: relative;
      float: right;
      width: 50px;
      height: 50px;
    }
    /* The dots/bullets/indicators */

    .dots-wrapper {
      float: left;
      position: absolute;
      left: 50%;
      top: 50%;
      padding: 0;
      margin: -0.79em 0 0 -2.05em;
    }

    .dot {
      cursor: pointer;
      margin-right: 12px;
      display: inline-block;
      transition: color 0.6s ease;
      -webkit-transition: color 250ms linear 0s;
      -moz-transition: color 250ms linear 0s;
      -o-transition: color 250ms linear 0s;
      transition: color 250ms linear 0s;

      &.active,
      &:hover {
        color: $color__background-button-hover;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  } //End .control
}
