.header-content {
  height: 300px;
  margin: 0 auto;
  position: relative;
  display: flex;
  @include background-cover;
  
  header.page-header {
    top: 45%;
    margin: 0 auto;
    position: relative;

    h1 {
      font-size: 3em;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      text-align: center;
    }
  }
  &:before {
    content: "";
    background: $color__accent-three;
    opacity: 0.9 !important;
    top: 0 !important;
    left: 0 !important;
    bottom: 0 !important;
    right: 0 !important;
    box-sizing: inherit;
    width: 100% !important;
    height: 100% !important;
    position: absolute !important;
    @include background-three;
  }
}
