.header-content {
  height: 300px;
  margin: 0 auto;
  display: flex;
  @include background-cover(relative);

  header.hue-page-header {
    margin: auto;
    position: relative;

    h1 {
      font-size: 3em;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      text-align: center;
    }

    .archive-description p {
      color: #b5fff7;
      font-family: "Courier New", Courier, monospace;
    }
  }

  &:before {
    content: "";
    opacity: 0.9 !important;
    top: 0 !important;
    left: 0 !important;
    bottom: 0 !important;
    right: 0 !important;
    box-sizing: inherit;
    width: 100% !important;
    height: 100% !important;
    position: absolute !important;
    @include background-three;
  }
}
