.hue-nav-wraper {
  position: sticky;
  top: 0;
  height: 80px;
  background: $color__background-menu-bar;
  @include box-shadow;
  @extend %row;
  z-index: 999;
  box-sizing: border-box;

  .site-branding {
    float: left;
    padding: 0;
    margin: 0 1em;
    height: 80px;

    .site-title {
      float: left;
      margin: 0;
      line-height: 2.5;

      a {
        display: unset;
        font-size: 0.78em;
        font-weight: 200;
        letter-spacing: 0.01em;
        color: $color__secondary;
      }
    }

    .site-description {
      display: inline-flex;
      margin-left: 1em;
      line-height: 3.6;
      text-transform: lowercase;
    }

    a {
      height: 30px;
      display: block;
      opacity: 1;
      filter: alpha(opacity=100);
      @include prefix(transition, opacity 0.25s ease-in-out 0s);
    }

    a:hover {
      opacity: 0.65;
      filter: alpha(opacity=65);
    }
  }
  //* Main navigation
  .main-navigation {
    display: block;
    float: right;
    margin-right: 20px;

    &:after {
      display: none;
    }

    ul {
      list-style: none;
      margin: 0;
      padding-left: 0;
      background-color: $color__background-menu-bar;

      & > li a {
        margin-left: 20px;
        transition: margin 0.5s ease-out;
      }

      ul {
        float: left;
        padding: 1em;
        top: 100%;
        left: -999em;
        z-index: 99999;
        position: absolute;
        box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
        transition: background-color 250ms linear;

        ul {
          top: -1em;
        }

        li {
          width: 100%;
          @include text-align(right);

          &.focus > ul,
          &:hover > ul {
            left: auto;
            right: 100%;
          }
        }

        a {
          white-space: nowrap;
          line-height: 2em;
          margin: 0;

          &:before {
            left: 0;
            bottom: 0;
            width: 0;
            height: 0;
          }
        }
      }

      li.focus > ul,
      li:hover > ul {
        left: auto;
        right: -3.5em;
      }

      li {
        float: left;
        position: relative;

        &:last-child {
          margin-right: 40px;
        }

        &:hover > a {
          color: $color__accent-one;
        }
      }

      a {
        display: block !important;
        text-decoration: none;
        font-size: 16px;
        font-weight: 300;
        display: block;
        line-height: 4.4em;
        text-transform: uppercase;
        display: block;
        opacity: 1;
        @include prefix(transition, opacity 1s ease-out);

        &:hover {

            opacity: 0.65;
        }

        &:visited {
          color: $color__link;
        }
      }
    } // End .main-navigation ul

    .current-menu-ancestor > a,
    .current-menu-item > a,
    .current_page_ancestor > a,
    .current_page_item > a {
      color: $color__accent-one !important;
    }
  }
  /* Small menu. */
  .main-navigation.toggled ul,
  .menu-toggle {
    //display: block;
  }

  .button {
    margin: 1rem 0.5rem;
  }

  ul#primary-menu {
    display: none;
    opacity: 0;
  }
  @media only screen and (max-width: $breakpoint-small) {
    .site-description {
      display: none !important;
    }
  }
  @media only screen and (max-width: $breakpoint-large) {
    .main-navigation {
      ul#primary-menu {
        width: 100%;
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        background: $color__background-menu-bar;

        ul {
          display: none;
        }
      }

      &:hover {
        ul#primary-menu {
          width: 100%;
          display: block;
          opacity: 1;
          @include animation(fade 0.5s ease-in-out);
        }
      }

      &::before {
        @include hue-icon-menu-hamburger;
        background: $color__background-body;
        padding: 0.5em;
        display: block;
        cursor: pointer;
        right: 0;
        top: 0;
        font-size: 2em;
        position: absolute;
        z-index: 10;
      }
    }
  }
  @media only screen and (min-width: $breakpoint-large) {
    .main-navigation:before {
      display: none;
    }

    .main-navigation ul#primary-menu {
      display: block;
      opacity: 1;

      a {
        margin-left: 20px;
      }
    }
  }
  @media only screen and (min-width: $breakpoint-xlarge) {
    ul#primary-menu {
      a {
        margin-left: 40px;
      }
    }
  }

  .comment-navigation,
  .post-navigation,
  .posts-navigation {
    .site-main & {
      margin: 0 0 1.5em;
      overflow: hidden;
    }
  }
}
/* Fixed nav position */
.is-fixed {
  position: fixed;
  top: 0;
}

.is-fixed > h1 {
  -webkit-transform: translate(0);
}
// For when main nav turn sticky, or content will jump 80px (height of nav bar) when javascript change class to .is-fixed

.site-content-padding-top {
  padding-top: 80px !important;
}
