.hue-nav-wraper {
  position: sticky;
  top: 0;
  height: 80px;
  background: $color__background-menu-bar;
  @include box-shadow;
  @extend %row;
  z-index: 999;
  transition: background-color 250ms linear;
  box-sizing: border-box;

  .site-branding {
    float: left;
    padding: 0;
    margin: 0 1em 0;
    height: 80px;

    .site-title {
      float: left;
      margin: 0;
      line-height: 3.5;
      a {
        font-size: .78em;
        font-weight: 200;
        letter-spacing: .01em;
        color: $color__secondary;
      }
    }

    .site-description {
      display: inline-flex;
      margin-left: 1em;
      line-height: 3.6;
      text-transform: lowercase;
      letter-spacing: 0.1em;
    }

    a {
      height: 30px;
      display: block;
      opacity: 1;
      filter: alpha(opacity=100);
      @include prefix(transition, opacity 0.25s ease-in-out 0s);
    }

    a:hover {
      opacity: 0.65;
      filter: alpha(opacity=65);
    }
  }

  //* Main navigation

  .main-navigation {
    display: block;
    float: right;
    margin-right: 20px;

    ul {
      display: none;
      list-style: none;
      margin: 0;
      padding-left: 0;
      background-color: $color__background-menu-bar;
      &>li a {
        margin-left: 50px;
      }

      ul {
        float: left;
        padding: 1em;
        top: 100%;
        left: -999em;
        z-index: 99999;
        position: absolute;
        box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);

        ul {
          top: -1em;
        }

        li {
          width: 100%;
          @include text-align(right);
          &:hover > ul,
          &.focus > ul {
            left: auto;
            right: 100%;
          }
        }

        a {
          white-space: nowrap;
          line-height: 2em;
          margin: 0;
          &:before {
            left: 0;
            bottom: 0;
            width: 0;
            height: 0;
          }
        }
      }

      li:hover > ul,
      li.focus > ul {
        left: auto;
      }

      li {
        float: left;
        position: relative;
        &:hover > a {
          color: $color__accent-one;
        }
      }

      a {
        display: block !important;
        text-decoration: none;
        font-size: 16px;
        font-weight: 300;
        display: block;
        line-height: 4.4em;
        text-transform: uppercase;
        &:visited {
          color: $color__link;
        }
      }
    }

    .current_page_item > a,
    .current-menu-item > a,
    .current_page_ancestor > a,
    .current-menu-ancestor > a {
      color: $color__accent-one !important;
    }
  }

  /* Small menu. */
  .menu-toggle,
  .main-navigation.toggled ul {
    display: block;
  }

  @media screen and (min-width: 37.5em) {
    .menu-toggle {
      display: none;
    }
    .main-navigation ul {
      display: block;
    }
  }

  .comment-navigation,
  .posts-navigation,
  .post-navigation {
    .site-main & {
      margin: 0 0 1.5em;
      overflow: hidden;
    }

    .nav-previous {
      float: left;
      width: 50%;
    }

    .nav-next {
      float: right;
      text-align: right;
      width: 50%;
    }
  }
}

/* Fixed nav position */
.is-fixed {
  position: fixed;
  top: 0;
}
.is-fixed > h1 {
  -webkit-transform: translate(0);
}

// For when main nav turn sticky, or content will jump 80px (height of nav bar) when javascript change class to .is-fixed
.site-content-padding-top {
  padding-top: 80px !important;
}