$font__main: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
$font__secondary: 'Times New Roman', Times, Georgia, serif;
$font__code: monospace, Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", 'courier new', serif;
$font__pre: 'courier new', Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;