.widget-area {
	.widget-title,
	#wp-calendar caption {
		padding: 0;
		margin: 0 0 2em;

		&::after {
			content: "";
			top: 0;
			left: 0;
			right: 0;
			height: 3em;
			bottom: 0;
			position: absolute;
			z-index: -1;
			background-color: darken($color__background-body, 8.5);
		}
	}

	ol,
	ul {
		margin: 0;
		padding-left: 0.25em;
		list-style: none;
	}

	li > ol,
	li > ul {
		padding-left: 1em;
	}
}

.widget {
	margin: 0.5em 0.5em 1.5em;
	max-width: 100%;
	padding: 1em;
	background: $color__background-widget-item;

	select {
		max-width: 100%;
	}
}

.widget_recent_comments {
	ul#recentcomments {
		list-style: none;
		padding: 0;
		margin: 0;

		li.recentcomments {
			color: rgba($color__accent-one, 0.7);
			padding: 0;
		}
	}
}
/* WP Calendar */

#wp-calendar caption {
	font-size: 1.5em;
	font-family: $font__secondary;
	text-align: left;
	margin-bottom: 2em;
}
