p {
  margin-bottom: 1.5em;
}

cite,
dfn,
em,
i {
  font-style: italic;
}

blockquote {
  margin: 0 1.5em;
  border-left: 1px solid;
  padding-left: 1em;
  position: relative;

  &:before {
    content: "";
    top: 0;
    bottom: 0;
    left: 0.5em;
    border-left: 1px dashed;
    background: none;
    position: absolute;
  }

  p {
    font-family: 'Times New Roman', Georgia, Times, serif;
    margin: 0;
    font-size: 1.4em;
    letter-spacing: 0.03em;
    word-spacing: 0.15em;
    padding: 1em 1em 3em;
    background-color: #26292e;
  }

  cite {
    display: inline;
    padding-right: 1em;
    padding-bottom: 1em;
    position: absolute;
    font-size: 0.9em;
    right: 0;
    bottom: 0;

    &:before {
      @include hue-icon-indent-quote;
      padding-right: 0.25em;
    }
  }
}

address {
  margin: 0 0 1.5em;
}

pre {
  background: $color__background-quote;
  font-family: $font__pre;
  color: $color__text-pre;
  @include font-size(0.9375);
  line-height: $font__line-height-pre;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em;
}

code,
kbd,
tt,
var {
  font-family: $font__code;
  @include font-size(0.9375);
}

code {
  padding-left: 0.5em;
  padding-right: 0.5em;
  display: inline-block;
  background-color: $color__accent-three;
}

abbr,
acronym {
  border-bottom: 1px dotted $color__border-abbr;
  cursor: help;
}

ins,
mark {
  background: $color__background-ins;
  color: $color__text-ins;
  padding: 0 0.2em;
  text-decoration: none;
}

big {
  font-size: 125%;
}
