h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
  color: $color__text-heading;
  margin-bottom: 20px;
  font-weight: 300;
  font-family: "Titillium Web", sans-serif;
  line-height: 1.5em;
}

h1 {
  @include font-size(1.5);
}
.posts-card-wrapper h1.entry-title {
  margin: 20px 0;
}

h2 {
  @include font-size(1.4);
}

h3 {
  @include font-size(1.3);
}

h4 {
  @include font-size(1.2);
}

h5 {
  @include font-size(1.1);
}

h6 {
  @include font-size(1);
}

h2.widget-title {
  @include font-size(1.4);
  font-weight: 300;
  margin-bottom: 30px;
}
