h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
  color: $color__text-heading;
  margin-bottom: 20px;
  font-weight: 200;
  font-family: $font__secondary;
  letter-spacing: 0.125em;
  line-height: 1.5em;
}

.page-header h1 {
  margin-top: 0;
}

h1 {
  @include font-size(2);
}

.posts-card-wrapper h1.entry-title {
  margin: 20px 0;
}

h2 {
  @include font-size(1.8);
}

h3 {
  @include font-size(1.6);
}

h4 {
  @include font-size(1.4);
}

h5 {
  @include font-size(1.2);
}

h6 {
  @include font-size(1);
}

h2.widget-title {
  @include font-size(1.4);
  font-weight: 300;
  margin-bottom: 30px;
}

.fp-heading,
.page-header,
nav.navigation .posts-navigation {
  display: table;
  clear: both;
  margin: 5em auto;
  border-bottom: 1px solid;
  border-top: 1px solid;
  padding: 2em 1em;
  position: relative;

  &:before {
    content: "";
    top: 0.5em;
    left: 0.5em;
    right: 0.5em;
    bottom: 0.5em;
    border-bottom: 1px dashed;
    border-top: 1px dashed;
    background: none;
    position: absolute;
  }

  h1 {
    font-size: 2.5em;
    text-align: center;
    text-transform: uppercase;
    word-break: initial;
    white-space: nowrap;
  }
}

header.page-header {
  margin-bottom: 0;
  padding-bottom: 1em;

  h1 {
    margin-bottom: 0 !important;
  }

  .archive-description {
    p {
      margin-top: 0;
    }
  }

  .hue-breadcrumb {
    font-family: "Courier New", Courier, monospace;
  }
}

nav.navigation.posts-navigation {
  margin-top: 0;
  margin-bottom: 15em;
  padding: 2em 1em;
  position: relative;
  min-width: 50%;
}
